---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro'
import PostCard from '../../components/Cards/PostCard.astro';
import Container from '../../components/Container.astro'
import { getCollection, getEntry } from 'astro:content';
import Pagination from '../../components/Pagination.astro';



export const getStaticPaths = (async ({ paginate }) =>{

const allColumnPosts = await getCollection('columna');
allColumnPosts.sort((a, b) =>{ 
    const convertToDate = (dateString: string)=> {
      //  Convert a "dd/MM/yyyy" string into a Date object
      let d = dateString.split("/");
      let dat = new Date(d[2] + '/' + d[1] + '/' + d[0]);
      return dat.toDateString();     
  }
    
    return Date.parse(convertToDate(b.data.date)) - Date.parse(convertToDate(a.data.date))
});
return paginate(allColumnPosts, { pageSize: 6 });
}) satisfies GetStaticPaths;




const { page } = Astro.props;


let pagination = JSON.parse(JSON.stringify(page));
---

<Layout title='La Columna del Pueblo' img='../../../public/img/columna/columna-logo.webp' description="Todas las ediciones de La Columna del Pueblo">
 
    <div class="bg-gradient-to-b from-black to-white w-full h-64 flex items-center">
        <img src="../../../img/columna/logo-blanco.webp" class="mx-auto drop-shadow-md h-12 lg:h-16 px-4 lg:p-0 ">
      </div>
    <Container title="Últimos artículos">
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {pagination.data.map(post =>{
            let {title : postTitle, edition: postEdition, date: postDate, picture: postPicture, tags} = post.data
            return <PostCard title={postTitle}
                             edition={'Edición N°' + postEdition}
                             picture={postPicture}
                             date={postDate}
                             slug={post.slug}
                             collection={post.collection}
                             tags={tags? tags : null}
                    >
                </PostCard>
        })       
        }
       </div>
            <Pagination currentPage={pagination.currentPage} nextPage={pagination.url.next} prevPage={pagination.url.prev} lastPage={pagination.lastPage}></Pagination>
    </Container>
</Layout>
