---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostBody from '../../components/PostBody.astro';
import PostHeader from '../../components/PostHeader.astro'
import LastPost from '../../components/LastPost.astro'
import Container from '../../components/Container.astro';
import Title from '../../components/Title.astro';
import TableOfContents from '../../components/TOC/TableOfContents.astro';




export async function getStaticPaths() {
  const blogEntries = await getCollection('columna');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---
<Layout article title={entry.data.title} img={entry.data.picture} description={'Columna ' + entry.data.edition + ': ' + entry.data.title} keywords={entry.data.tags? entry.data.tags : ""} pubDate={new Date(entry.data.publishDate)}>
  <article itemscope itemtype="https://schema.org/NewsArticle">
  <a class="w-4xl max-w-full my-16 flex items-center" href="/columna">
    <img src="../../../img/columna/logo-negro.webp" class="mx-auto h-auto md:h-12 lg:h-16 px-4 lg:p-0" alt="Logo de La Columna del Pueblo, órgano de prensa de la Dirección Política de Congreso del Pueblo">
  </a>
    <PostHeader header={entry.data.title} subheader={entry.data.edition} bgURL={entry.data.picture} date={entry.data.publishDate.toLocaleDateString()} collection={entry.collection} slug={entry.slug} tags={entry.data.tags? entry.data.tags : ""}>
    </PostHeader>
    
    <PostBody title={entry.data.title}>
      <TableOfContents headings={headings} />
        <Content />
    </PostBody>

    <section itemscope itemtype="https://schema.org/Comment">
    <Container>
      <Title>Comentarios</Titulo>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v19.0&appId=771812687817011" nonce="ESeSDpG3"></script>
        <div class="fb-comments" data-href=`https://congresodelpueblo.uy/columna/${entry.slug}/` data-width="100%" data-numposts="5" data-lazy="true"></div>  
      </Container>
  </section>
    <Container>
      <Title>Últimas columnas</Titulo>
      <LastPost entries={entry.collection} count={3}></LastPost>
    </Container>
</article>
</Layout>
