---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostBody from '../../components/PostBody.astro';
import PostHeader from '../../components/PostHeader.astro'
import RelatedPost from '../../components/RelatedPost.astro'
import Container from '../../components/Container.astro';


export async function getStaticPaths() {
  const blogEntries = await getCollection('columna');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} img={entry.data.picture}>

  <div class="bg-gradient-to-b from-black to-white w-full h-32 flex items-center">
    <img src="../../../img/columna/logo-blanco.webp" class="mx-auto drop-shadow-lg h-12 lg:h-16 px-4 lg:p-0 ">
  </div>
    <PostHeader header={entry.data.title} subheader={'Edición N°' + entry.data.edition} bgURL={entry.data.picture} anchor={entry.data.pictureAnchor} date={entry.data.date}>
    </PostHeader>
    
    <PostBody title={entry.data.title}>
        <Content />
    </PostBody>
    <Container title="Publicaciones relacionadas">
      <RelatedPost relatedPost={entry.data.relatedPosts}></RelatedPost>
    </Container>
</Layout>