---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro'
import PostCard from '../../components/PostCard.astro';
import Container from '../../components/Container.astro'
import { getCollection, getEntry } from 'astro:content';
import Pagination from '../../components/Pagination.astro';



export const getStaticPaths = (async ({ paginate }) =>{

const allColumnPosts = await getCollection('columna');
allColumnPosts.reverse()
return paginate(allColumnPosts, { pageSize: 6 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;


let pagination = JSON.parse(JSON.stringify(page));
---

<Layout title='La Columna del Pueblo' img='../../../public/img/columna/columna-logo.webp'>
    <Container title="La Columna del Pueblo">
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {pagination.data.map(post =>{
            let {title : postTitle, edition: postEdition, date: postDate, picture: postPicture} = post.data
            return <PostCard title={postTitle}
                             edition={postEdition}
                             picture={postPicture}
                             date={postDate}
                             slug={post.slug}
                    >
                </PostCard>
        })       
        }
       </div>
            <Pagination currentPage={pagination.currentPage} nextPage={pagination.url.next} prevPage={pagination.url.prev} lastPage={pagination.lastPage}></Pagination>
    </Container>
</Layout>