---
import Link from '../Link.astro'
import TitleCard from './TitleCard.astro';

interface Props {
  post: any;
}

const {post} = Astro.props;
const {title, category, publishDate} = post.data
---

<section class="relative flex flex-col mt-6 bg-white shadow-md bg-clip-border rounded-xl w-100" class:list={[{
  'border-solid border-2 border-primary': category == 'Declaración',
  'border-solid border-2 border-blue-900': category == 'Documento',
}]}>
  <a href={`/${post.collection}/${post.slug}`}> 
  <div class="p-6">
        <slot/>
      
        <TitleCard>{title}</TitleCard>
      </a>
      <span class="inline-block font-sans text-base  font-light leading-relaxed">
        {new Date(publishDate).toLocaleDateString()}
      </span>
      <span class="inline-block font-sans text-base text-red-600 leading-relaxed ms-2" class:list={[{
        'text-primary': category == 'Declaración',
        'text-secondary': category == 'Documento',
      }]}>{category}</span>
    </div>
    
  </a> 
  </section> 