---
import Link from '../Link.astro'

interface Props {
  post: any;
}

const {post} = Astro.props;
const {title, category, date} = post.data
---

<section class="relative flex flex-col mt-6 bg-white shadow-md bg-clip-border rounded-xl w-100" class:list={[{
  'border-solid border-2 border-primary': category == 'Declaración',
  'border-solid border-2 border-blue-900': category == 'Documento',
}]}>
  <a href={`/${post.collection}/${post.slug}`}> 
  <div class="p-6">
        <slot/>
      
        <h5 class="text-2xl font-bold leading-7 mb-2">
            {title}
          </h5>
      </a>
      <span class="inline-block font-sans text-base  font-light leading-relaxed">
        {date}
      </span>
      <span class="inline-block font-sans text-base text-red-600 leading-relaxed ms-2" class:list={[{
        'text-primary': category == 'Declaración',
        'text-blue-900': category == 'Documento',
      }]}>{category}</span>
    </div>
    
  </a> 
  </section> 