---
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import PostBody from "../components/PostBody.astro";
import Layout from "../layouts/Layout.astro";

import team from "../../public/1205.json"
import PersonCard from "../components/Cards/PersonCard.astro";
import Article from "../components/Article.astro";
import Title from "../components/Title.astro";
import Card from "../components/Cards/Card.astro";

---
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
<Layout title="Lista 1205 - Congreso del Pueblo" img="/img/banners/banner_1205_mobile.webp" description="La Lista 1205 es la expresión electoral de Congreso del Pueblo Uruguay" keywords="Lista, 1205, Elecciones, Congreso del Pueblo, Política, Uruguay">
    <main>
        <Header horizontal header="<span class='leading-[1.15]'><span class='bg-primary'>EL PUEBLO</span> <br/><span class='bg-secondary'>AL FRENTE</span></span>" subheader="Lista 1205 en Montevideo y Canelones" bgURL="/img/columna/18.webp">
                <lite-youtube class="w-full min-w-96 aspect-square border border-gray-500 shadow-lg" posterquality="maxresdefault" videoid="ZTqNeQWrFLs" slot="before-header"></lite-youtube >
        </Header>


        <Container>
            <div class="flex flex-col-reverse lg:flex-row gap-16 lg:items-start">
                <div class="basis-1/2">
                    <Title left>Levantar lo mejor de nuestra historia</Title>
                    <p class="text-pretty">La lista 1205 pretende expresar el sentir de muchos frenteamplistas que reivindicamos el Frente Amplio fundacional: su carácter antiimperialista y antioligárquico. Representamos la convicción de quienes defendemos el proyecto histórico del FA: nacionalización de la banca, reforma agriaria de caracter artiguista, etc.</p>
                </div>
                <div class="basis-1/2 flex justify-center">
                    <img src="/img/1205.png" class="w-1/2 lg:w-full" alt="Bandera de la 1205 adaptada">
                </div>
            </div>
        </Container>
        <Container>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="p-6 bg-gray-100 shadow">
                    <i class="mdi mdi-account-multiple text-gray-300 text-6xl mx-auto mt-2"></i>
                    <h3 class="text-2xl font-semibold mb-1">Quiénes somos</h3>
                    <p>Somos trabajadores, estudiantes, jubilados, asalariados rurales y pequeño comerciantes. Militamos en sindicatos, gremios estudiantiles y organizaciones sociales.
                    Nuestro nombre es un homenaje al hecho político más importante en la construcción de la unidad política y social de nuestro pueblo. El Congreso del Pueblo del año 1965</p>
                    </div>
                <div class="p-6 bg-gray-100 shadow">
                    <i class="mdi mdi-comment-processing text-gray-300 text-6xl mx-auto mt-2"></i>
                    <h3 class="text-2xl font-semibold mb-1">Qué vemos</h3>
                    <p>El retroceso  en derechos y libertades, producto del ajuste de la oligarquía a nuestro pueblo. Plasmado en recortes en las políticas públicas, rebaja salarial, reforma de la educación y de la Seguridad Social, privatización de las empresas públicas dejando como resultado él crecimiento de la desigualdad entre ricos y pobres.</p>
                </div>
                <div class="p-6 bg-gray-100 shadow">
                    <i class="mdi mdi-checkbox-multiple-marked text-gray-300 text-6xl mx-auto mt-2"></i>
                    <h3 class="text-2xl font-semibold mb-1">Qué proponemos</h3>
                    <p>Forjar la fuerza política y social para las transformaciones estructurales que el Uruguay necesita.  Luchar por el triunfo del SI y por reconquistar el gobierno del Frente Amplio, para llevar adelante, aumento de salarios y jubilaciones, el 6+1 del presupuesto para educación, declarar la Emergencia Nacional a la infancia la niñez y adolescencia, impulsar un Plan Nacional de Vivienda, profundizar en materia de Verdad y Justicia, étc.</p>
                </div>
            </div>
        </Container>
        <Container>
                <div class="flex flex-col lg:flex-row gap-16 lg:items-start">
                    
                <div class="basis-1/2 flex justify-center">
                    <img class="rounded-full  w-1/2 lg:w-full" src=https://afirmatusderechos.uy/wp-content/uploads/2024/09/SI-redondo@150x-1024x1024.png" alt="Logo de Afirma tus derechos">
                </div>                    
                    <div class="basis-1/2 ">
                        <Title left>Votamos SÍ al Plebiscito en defensa de la Seguridad Social</Title>
                        <p class="mb-3">
                            El Plebiscito en defensa de la Seguridad Social es la respuesta, la defensa, de la Clase Obrera y nuestro pueblo al ajuste de la oligarquía y el imperialismo.
                            </p>
                        <p>Congreso del Pueblo va con la lista 1205 en Montevideo y Canelones, y dentro traerá la papeleta del sí por el Plebiscito en defensa de la Seguridad Social.</p>    
                    </div>
                </div>
            </Container>
            <Container>
            <BigTitle>Nuestro equipo</BigTitle>
            <div class="grid sm:1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                {team.map(teammate =>{
                    return <PersonCard name={teammate.name} ocupation={teammate.ocupation} job={teammate.job} social={teammate.social} picture={teammate.picture}></PersonCard>
                })}
            </div>
        </Container>
            <Container>
            <BigTitle>¡Te llevamos tu lista!</BigTitle>
            <Title>Contactate</Title>
                <div class="grid grid-cols-2 gap-4">
                    <Card title="Montevideo" body="091 846 317 (Mateo)" href="tel:+59891846317" img="/img/lista1205/mvd.svg"></Card>
                    <Card title="Canelones" body="099 497 688 (Diego)" href="tel:+59899497688" img="/img/lista1205/cnl.svg"></Card>
                </div>
        </Container>
    </main>
</Layout>
