---
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import PostBody from "../components/PostBody.astro";
import Layout from "../layouts/Layout.astro";

import team from "../../public/1205.json"
import PersonCard from "../components/Cards/PersonCard.astro";
import Article from "../components/Article.astro";
---
<Layout title="Lista 1205 - Congreso del Pueblo">
    <main>
        <Header header="SÍ, VOTÁ PUEBLO" subheader="Lista 1205 en Montevideo y Canelones" bgURL="../../img/columna/18.webp">
                    <img src="/img/1205.png" alt="Logo de la Lista 1205, expresión electoral de Congreso del Pueblo" class="w-1/2 md:w-1/6" slot="after-header">
        </Header>
        <Container>
            <p class="text-pretty">La lista 1205 pretende expresar el sentir de muchos frenteamplistas que reivindicamos el Frente Amplio fundacional: su carácter antiimperialista y antioligárquico. Representamos la convicción de quienes defendemos el proyecto histórico del FA: nacionalización de la banca, reforma agriaria de caracter artiguista, etc.</p>
        </Container>
        <Container>
                <div class="flex flex-col md:flex-row">
                    
                        <img class="rounded-full shadow-lg" src="https://pbs.twimg.com/profile_images/1823118960725794816/Tu9JC-tQ_400x400.jpg" alt="Logo de Afirma tus derechos">
                    
                    <div >
                        <BigTitle>Votamos SÍ al Plebiscito en defensa de la Seguridad Social</BigTitle>
                        <p>Congreso del Pueblo va con la lista 1205 en Montevideo y Canelones, y dentro traerá la papeleta del sí por el Plebiscito en defensa de la Seguridad Social.</p>    
                    </div>
                </div>
            </Container>
            <Container>
            <BigTitle>Nuestro equipo</BigTitle>
            <div class="grid sm:1 md:grid-cols-2 lg:grid-cols-4 ">
                {team.map(teammate =>{
                    return <PersonCard name={teammate.name} ocupation={teammate.ocupation} job={teammate.job} social={teammate.social} picture={teammate.picture}></PersonCard>
                })}
            </div>
        </Container>
            <Container>
            <BigTitle>¡Te llevamos tu lista!</BigTitle>
            
        </Container>
    </main>
</Layout>
