---
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import PostBody from "../components/PostBody.astro";
import Layout from "../layouts/Layout.astro";

import team from "../../public/1205.json"
import PersonCard from "../components/Cards/PersonCard.astro";
import Article from "../components/Article.astro";
import Title from "../components/Title.astro";
---
<Layout title="Lista 1205 - Congreso del Pueblo" img="/img/1205.png" description="La Lista 1205 es la expresión electoral de Congreso del Pueblo Uruguay" keywords="Lista, 1205, Elecciones, Congreso del Pueblo, Política, Uruguay">
    <main>
        <Header header="SÍ, VOTÁ PUEBLO" subheader="Lista 1205 en Montevideo y Canelones" bgURL="../../img/columna/18.webp">
                    <img src="/img/1205.png" alt="Logo de la Lista 1205, expresión electoral de Congreso del Pueblo" class="w-1/2 md:w-1/6" slot="after-header">
        </Header>

        <Container>
            <div class="flex flex-col-reverse lg:flex-row gap-16 lg:items-start">
                <div class="basis-1/2">
                    <Title left>Levantar lo mejor de nuestra historia</Title>
                    <p class="text-pretty">La lista 1205 pretende expresar el sentir de muchos frenteamplistas que reivindicamos el Frente Amplio fundacional: su carácter antiimperialista y antioligárquico. Representamos la convicción de quienes defendemos el proyecto histórico del FA: nacionalización de la banca, reforma agriaria de caracter artiguista, etc.</p>
                </div>
                <div class="basis-1/2 flex justify-center">
                    <img src="/img/lista1205/bandera.png" class="w-1/2 lg:w-full" alt="Bandera de la 1205 adaptada">
                </div>
            </div>
        </Container>
        <Container>
                <div class="flex flex-col lg:flex-row gap-16 lg:items-start">
                    
                <div class="basis-1/2 flex justify-center">
                    <img class="rounded-full shadow-lg w-1/2 lg:w-full" src="https://pbs.twimg.com/profile_images/1823118960725794816/Tu9JC-tQ_400x400.jpg" alt="Logo de Afirma tus derechos">
                </div>                    
                    <div class="basis-1/2">
                        <Title left>Votamos SÍ al Plebiscito en defensa de la Seguridad Social</Title>
                        <p class="mb-3">
                            El Plebiscito en defensa de la Seguridad Social es la respuesta, la defensa, de la Clase Obrera y nuestro pueblo al ajuste de la oligarquía y el imperialismo.
                            </p>
                        <p>Congreso del Pueblo va con la lista 1205 en Montevideo y Canelones, y dentro traerá la papeleta del sí por el Plebiscito en defensa de la Seguridad Social.</p>    
                    </div>
                </div>
            </Container>
            <Container>
            <BigTitle>Nuestro equipo</BigTitle>
            <div class="grid sm:1 md:grid-cols-2 lg:grid-cols-4 ">
                {team.map(teammate =>{
                    return <PersonCard name={teammate.name} ocupation={teammate.ocupation} job={teammate.job} social={teammate.social} picture={teammate.picture}></PersonCard>
                })}
            </div>
        </Container>
            <Container>
            <BigTitle>¡Te llevamos tu lista!</BigTitle>
            
        </Container>
    </main>
</Layout>
