---
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import PostBody from "../components/PostBody.astro";
import Layout from "../layouts/Layout.astro";

import team from "../../public/1205.json"
import PersonCard from "../components/Cards/PersonCard.astro";
import Title from "../components/Title.astro";
import Card from "../components/Cards/Card.astro";

---
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
<Layout title="Lista 1205 - Congreso del Pueblo" img="/img/banners/banner_1205_mobile.webp" description="La Lista 1205 es la expresión electoral de Congreso del Pueblo Uruguay" keywords="Lista, 1205, Elecciones, Congreso del Pueblo, Política, Uruguay">
    <main>
        <section class="pt-20 md:pt-40 bg-[url('/img/lista1205/fondo.webp')]">
            <div class="container mx-auto px-8 lg:flex max-w-screen-xl">
                <div class="text-center lg:text-left lg:w-1/2">
                    <h2 class="text-5xl md:text-8xl lg:text-7xl xl:text-8xl font-black text-white leading-none uppercase">El pueblo </br> al frente</h2>
                    <h1 class="text-xl lg:text-2xl mt-6 font-light text-white">La lista 1205 en Montevideo, Canelones y San José
                    </h1>
                    <p class="mt-8 md:mt-12">
                        <a href="#llevamos-tu-lista"
                            class=" py-4 px-12 bg-white shadow-lg font-bold text-xl rounded text-primary uppercase">Pedí tu lista!</a>
                    </p>
                    
                </div>

                <div class="lg:w-1/2 mt-12 md:mt-12">
                    <img src="/img/lista1205/portada.webp" style="filter: drop-shadow(0px -2px 0px white);">
                </div>
            </div>
        </section>

        <Container>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="p-6 bg-gray-100 shadow">
                    <i class="mdi mdi-account-multiple text-gray-300 text-6xl mx-auto mt-2"></i>
                    <h3 class="text-2xl font-semibold mb-1">Quiénes somos</h3>
                    <p>Somos trabajadores, estudiantes, jubilados, asalariados rurales y pequeño comerciantes. Militamos en sindicatos, gremios estudiantiles y organizaciones sociales.
                    Nuestro nombre es un homenaje al hecho político más importante en la construcción de la unidad política y social de nuestro pueblo. El Congreso del Pueblo del año 1965</p>
                    </div>
                <div class="p-6 bg-gray-100 shadow">
                    <i class="mdi mdi-comment-processing text-gray-300 text-6xl mx-auto mt-2"></i>
                    <h3 class="text-2xl font-semibold mb-1">Qué vemos</h3>
                    <p>El retroceso  en derechos y libertades, producto del ajuste de la oligarquía a nuestro pueblo. Plasmado en recortes en las políticas públicas, rebaja salarial, reforma de la educación y de la Seguridad Social, privatización de las empresas públicas dejando como resultado él crecimiento de la desigualdad entre ricos y pobres.</p>
                </div>
                <div class="p-6 bg-gray-100 shadow">
                    <i class="mdi mdi-checkbox-multiple-marked text-gray-300 text-6xl mx-auto mt-2"></i>
                    <h3 class="text-2xl font-semibold mb-1">Qué proponemos</h3>
                    <p>Forjar la fuerza política y social para las transformaciones estructurales que el Uruguay necesita.  Luchar por el triunfo del SI y por reconquistar el gobierno del Frente Amplio, para llevar adelante, aumento de salarios y jubilaciones, el 6+1 del presupuesto para educación, declarar la Emergencia Nacional a la infancia la niñez y adolescencia, impulsar un Plan Nacional de Vivienda, profundizar en materia de Verdad y Justicia, étc.</p>
                </div>
            </div>
        </Container>
        <Container>
            <div class="flex flex-col-reverse lg:flex-row gap-16 lg:items-start">
                <div class="basis-1/2">
                    <Title left>Levantar lo mejor de nuestra historia</Title>
                    <p class="text-pretty">La lista 1205 pretende expresar el sentir de muchos frenteamplistas que reivindicamos el Frente Amplio fundacional: su carácter antiimperialista y antioligárquico. Representamos la convicción de quienes defendemos el proyecto histórico del FA: nacionalización de la banca, reforma agriaria de caracter artiguista, etc.</p>
                </div>
                <div class="basis-1/2 flex justify-center">
                    <img src="/img/1205.png" class="w-1/2 lg:w-full" alt="Bandera de la 1205 adaptada">
                </div>
            </div>
        </Container>

        <Container>
                <div class="flex flex-col lg:flex-row gap-16 lg:items-start">
                    
                <div class="basis-1/2 flex justify-center">
                    <img class="rounded-full  w-1/2 lg:w-full" src=https://afirmatusderechos.uy/wp-content/uploads/2024/09/SI-redondo@150x-1024x1024.png" alt="Logo de Afirma tus derechos">
                </div>                    
                    <div class="basis-1/2 ">
                        <Title left>Votamos SÍ al Plebiscito en defensa de la Seguridad Social</Title>
                        <p class="mb-3">
                            El Plebiscito en defensa de la Seguridad Social es la respuesta, la defensa, de la Clase Obrera y nuestro pueblo al ajuste de la oligarquía y el imperialismo.
                            </p>
                        <p>Congreso del Pueblo va con la lista 1205 en Montevideo y Canelones, y dentro traerá la papeleta del sí por el Plebiscito en defensa de la Seguridad Social.</p>    
                    </div>
                </div>
            </Container>

            <section class="bg-gray-200 text-gray-800">
               <Container>
                <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
                    <p class="p-2 text-sm font-medium tracking-wider text-center uppercase">Plataforma inmediata</p>
                    <BigTitle noMarginTop>Para que el ajuste </br> no lo pague el pueblo</BigTitle>
                    <div class="bg-gray-100 border border-primary lg:py-12 p-6 grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12">
                        <p class="font-semibold">Más inversión en obras públicas</p>
                        <p class="font-semibold">Aumento de salarios y jubilaciones</p>
                        <details>
                            <summary class="font-semibold">Plan Nacional de Viviendas, que apunte a erradicar los asentamientos</summary>
                            <p class="mt-1 text-gray-700">El 70% de los varones jóvenes y el 56% de las mujeres jóvenes, trabajan y no estudian; pero solo el 25% de los jóvenes son independientes. Para un joven trabajar es insuficiente para garantizar su subsistencia. La mayor dificultad la encuentran en la vivienda, el precio altísimo de los alquileres hace imposible el acceso a un hogar. En contraste, existen 240 mil viviendas vacías, siendo objeto de especulación de las inmobiliarias. Es necesario un Plan Nacional de Viviendas, que ponga fin a la usura y la especulación inmobiliaria, erradicando los asentamientos y garantizando el acceso a la vivienda como un derecho humano fundamental.</p>
                        </details>
                        <p class="font-semibold">Plan para el fortalecimiento de la industria nacional</p>
                        <p class="font-semibold">Reapertura de un Frigorífico Nacional Multimodal</p>
                        <p class="font-semibold">Reducción de la jornada laboral sin pérdida salarial</p>
                        <p class="font-semibold">Regulación de los precios de alquileres</p>
                        <p class="font-semibold">Regulación de los artículos de primera necesidad</p>
                        <p class="font-semibold">Reforma sustancial en la educación, 6% +1 de presupuesto; autonomía y cogobierno</p>
                        <details>
                            <summary class="font-semibold">Declarar a las infancias en Emergencia Nacional</summary>
                            <p class="mt-1 text-gray-700">Necesitamos una política fiscal que apunte a erradicar la pobreza en la niñez y hacer del Uruguay un país menos desigual, más justo y solidario</p>
                        </details>
                        <p class="font-semibold">VERDAD Y JUSTICIA, NUNCA MÁS TERRORISMO DE ESTADO, NUNCA MÁS FASCISMO</p>
                        <p class="font-semibold">Reforma de la Seguridad Social, derogación de las AFAP, Reforma de la Caja Militar</p>
                        <p class="font-semibold">Aumentos de impuesto al Gran Capital</p>
                        <details>
                            <summary class="font-semibold">Reforma agraria de carácter artiguista</summary>
                            <p class="mt-1 text-gray-700">Debemos problematizar qué país productivo queremos, porque se ha escrito mucho sobre defender la producción nacional, al pequeño productor familiar, pero también muchos de los mismos aplaudieron a UPM, proyecto alejado de las necesidades de nuestro país. Es imperioso no titubear, frente a la consigna de soberanía alimentaria. Solo podemos respaldar el concepto de transformación real, mediante la reforma agraria antiimperialista.</p>
                        </details>
                        <p class="font-semibold">Derogación de la Ley de Riego</p>
                        <p class="font-semibold">Reforma de la Salud, eliminación de pago de tickets y órdenes</p>
                        <details>
                            <summary class="font-semibold">Reforma del Estado</summary>
                            <p class="mt-1 text-gray-700">El estado no puede ser más una palanca para el acomodo, el clientelismo de los partidos políticos, por lo tanto también es prioritaria la participación de los trabajadores en los directorios, el ingreso por concurso y la carrera administrativa.</p>
                        </details>
                        <p class="font-semibold">Ley de Medios democratizadora</p>
                    </div>
                </div>
               </Container>
            </section>


            <Container>
            <BigTitle>Nuestros candidatos/as</BigTitle>
            <div class="grid sm:1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {team.map(teammate =>{
                    return <PersonCard name={teammate.name} ocupation={teammate.ocupation} job={teammate.job} social={teammate.social} picture={teammate.picture}></PersonCard>
                })}
            </div>
        </Container>
            <div id="llevamos-tu-lista"></div>
            <Container>
            <BigTitle>¡Te llevamos tu lista!</BigTitle>
            <Title>Contactate</Title>
                <div class="grid grid-cols-2 gap-4">
                    <Card title="Montevideo" body="091 846 317 (Mateo)" href="tel:+59891846317" img="/img/lista1205/mvd.svg"></Card>
                    <Card title="Canelones" body="099 497 688 (Diego)" href="tel:+59899497688" img="/img/lista1205/cnl.svg"></Card>
                </div>
        </Container>
    </main>
</Layout>
