---
import Layout from '../layouts/Layout.astro'
import PostCard from '../components/PostCard.astro';
import Container from '../components/Container.astro'

import { getCollection, getEntry } from 'astro:content';
const allColumnPosts = await getCollection('columna');
allColumnPosts.reverse()
---

<Layout title='La Columna del Pueblo'>
    <Container title="La Columna del Pueblo">
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {allColumnPosts.map(post =>{
            let {title : postTitle, edition: postEdition, date: postDate, picture: postPicture} = post.data
            return <PostCard title={postTitle}
                             edition={postEdition}
                             picture={postPicture}
                             date={postDate}
                             slug={post.slug}
                    >
                </PostCard>
        })       
        }
       </div>
            
    </Container>
</Layout>