---
import { getCollection, getEntry, getEntries } from "astro:content";
import PostCard from "./PostCard.astro";

interface Props {
    entries: any;
    count: number;
}

const { entries, count } = Astro.props;


const lastPost = await getCollection(entries);

const sortedPosts = lastPost.sort((a: any, b: any) => Date.parse(b.data.edition) - Date.parse(a.data.edition)).slice(0,count)

---
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
{sortedPosts.map((p: any) => (
    <PostCard title={p.data.title} edition={p.data.edition} date={p.data.date} picture={p.data.picture} slug={p.slug}></PostCard>
  ))}
   
  </div>
  <div class="flex justify-center mt-4">
    <a class="text-primary font-bold text-md" href=`/${entries}`>Ver todas las publicaciones...</a>
  </div>