---
import { collections } from '../content/config';
import Share from '../components/Share.astro'

interface Props {
    header: string,
    subheader: string,
    bgURL?: string;
    date: string;
    collection: string;
    slug: string;
    tags?: string;
    metatitle?: string;
}

const {header, subheader, bgURL,date, collection, slug, tags, metatitle} = Astro.props;
---
<section class="lg:px-64 md:px-32 px-4 text-gray-700 mt-16">
    <div class="flex flex-row gap-2 mb-8 items-center" id="breadcrumbs" itemprop="breadcrumb">
        <a rel="home" href=`/${collection}` class="text-gray-700">
            Inicio
            <span>&gt</span>
        </a>
        <span class="text-gray-500">{collection != "documentos"? <a href={'/' + collection + "/categoria/" + subheader.toLowerCase()}>{subheader}</a> : subheader}</span>
    </div>

    <p class="text-lg">{metatitle? metatitle.toLocaleUpperCase() : ''}</p>
    <h1 itemprop="headline" class="font-bold lg:leading-snug text-gray-800 text-3xl md:text-3xl lg:text-5xl  text-pretty text-left">{header}</h1>
    
    
    <div class="flex flex-col gap-4 justify-center mt-2  flex-wrap">
        <p itemprop="datePublished" class="text-gray-600">{date}</p>
    </div>
    {bgURL? <img itemprop="image" src={bgURL} alt={"Imagen destacada del artículo" + header} class="w-full aspect-video object-cover mt-8"> : ''}
    <div class="mt-2 " itemprop="keywords">
        {tags? tags.split(",").map(tag => <span class="inline-block bg-gray-100  px-2 py-1/2 text-xs  text-gray-600 mr-2">{tag}</span>) : ''}
    </div>
    <Share collection={collection} slug={slug}></Share> 
</section>