---
interface Props{
    small? : boolean;
    white? : boolean;
}

const {small = false, white = false} = Astro.props;

let style;
const BIG_STYLE = "border-2 duration-200 ease inline-flex items-center transition p-3 hover:text-white hover:border-red-600 hover:bg-red-600"
const SMALL_STYLE = "hover:text-red-600 duration-200 "

small? (style = SMALL_STYLE) : (style = BIG_STYLE);
---
<div class="flex-wrap flex justify-center text-center" class:list={[{
  'text-white': white,
  'text-gray-700': !white,
  'gap-4': small,
  'gap-3': !small
}]}>
<a class={style} rel="nofollow noopener" target="_blank" rel="noopener" href="https://www.facebook.com/congresodelpueblo.uy" aria-label="Look Facebook">
  <i class="mdi mdi-facebook text-3xl"></i>
  </a>
  <a class={style} rel="nofollow noopener"  target="_blank" rel="noopener" href="https://twitter.com/cong_del_pueblo" aria-label="Look Twitter" draggable="false">
    <i class="mdi mdi-twitter text-3xl"></i>
  </a>
  <a class={style} rel="nofollow noopener" target="_blank" rel="noopener" href="https://www.instagram.com/congresodelpueblo.uy/" aria-label="Look Instagram" draggable="false">
    <i class="mdi mdi-instagram text-3xl"></i>  </a>
  <a class={style} rel="nofollow noopener"  target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCyciH6AnKFHuQJquTvcjR1w" aria-label="Look Youtube" draggable="false">
    <i class="mdi mdi-youtube text-3xl"></i>
  </a>
  <a class={style} rel="nofollow noopener"  target="_blank" rel="noopener" href="https://whatsapp.com/channel/0029VaFaAE711ulN1H2CQG3j" aria-label="Look Youtube" draggable="false">
    <i class="mdi mdi-send-circle text-3xl"></i>
  </a>
  <a class={style} rel="nofollow noopener"  target="_blank" rel="noopener" href="https://t.me/congresodelpueblo" aria-label="Look Youtube" draggable="false">
    <i class="mdi mdi-whatsapp text-3xl"></i>
  </a>
  
</div>