---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Pressnavbar from "../components/Pressnavbar.astro";

	interface Props {
	title: string;
	img?: string;
	description?: string;
	keywords?: string;
	article?: boolean;
	pubDate?: Date;
}

	const {
	title,
	img = "img/quienes-somos.webp",
	description = "Sitio web de Congreso del Pueblo, organización marxista-leninista uruguaya.",
	keywords = "Congreso del Pueblo, Uruguay, Frente Amplio, comunismo, pueblo",
	article = false,
	pubDate = new Date("2024-01-01")} = Astro.props;

	const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={canonicalURL} />
		<meta itemprop="datePublished" content={pubDate.toISOString()}>

		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "Organization",
			  "name": "Congreso del Pueblo",
			  "url": "https://congresodelpueblo.uy/",
			  "logo": "https://congresodelpueblo.uy/logo.png",
			  "alternateName": "CP",
			  "foundingDate": "2021-05-16",
			  "sameAs": [
				"https://www.facebook.com/congresodelpueblo.uy",
				"https://x.com/cong_del_pueblo",
				"https://www.instagram.com/congresodelpueblo.uy/",
				"https://www.youtube.com/channel/UCyciH6AnKFHuQJquTvcjR1w"
			  ],
			  "contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+598091846317",
				"contactType": "customer service",
				"areaServed": "UY",
				"availableLanguage": "Spanish"
			  },
			  "address": {
				"@type": "PostalAddress",
				"streetAddress": "Av. Italia",
				"addressLocality": "Montevideo",
				"addressRegion": "Montevideo",
				"postalCode": "21001",
				"addressCountry": "UY"
			  },
			  "memberOf": {
    			"@type": "Organization",
    			"name": "Frente Amplio"
  			},
			  "hasPart": {
				"@type": "Blog",
				"name": "Congreso del Pueblo",
				"url": "https://congresodelpueblo.uy/columna/",
				"image": "https://congresodelpueblo.uy/img/columna/logo-negro.webp"
			  }
			}
			</script>

		<!-- Primary Meta Tags -->
		<meta name="author" content="Congreso del Pueblo" />
		<meta name="copyright" content="Congreso del Pueblo" />
		<meta name="keywords" content={keywords}/>
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta
			name="description"
			content={description}
		/>

		<!-- Open Graph / Facebook -->
		<meta content={title} property='og:site_name'/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.congresodelpueblo.uy/" />
		<meta property="og:title" content={title}/>
		<meta property="og:description" content={description}/>
		<meta property="og:image" content={'https://congresodelpueblo.uy/' + img}/>
		<meta property="og:type" content={article? "article" : "website"} />
		<meta property="og:locale" content="es_UY" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta content='https://www.congresodelpueblo.uy/' name='twitter:domain'/>
		<meta property="twitter:url" content="https://www.congresodelpueblo.uy/" />
		<meta property="twitter:title" content={title}/>
		<meta property="twitter:description" content={description}/>
		<meta property="twitter:image" content={'https://congresodelpueblo.uy/' + img}/>
		
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/7.4.47/css/materialdesignicons.min.css">
		<style is:global>
		@import url("/fonts/britannic-bold-regular.ttf");
		@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');		html {
				font-family: "Poppins", sans-serif;
				background-size: 224px;
				color-scheme: light;
			}
			h1, h2, h3, h4, h5, h6 {
			font-family: "Public Sans", sans-serif;
		}
		</style>

		

		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
		
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-V10PXPJ7NK"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V10PXPJ7NK');
</script>
	</head>
	<body>
		{!article? <Navbar />: <Pressnavbar/>}
		<slot />
		<Footer />
	</body>
</html>
